<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
	<link rel="stylesheet" href="public/css/explorer.css">
	<script src="/public/js/explorer/events.js"></script>
	<link rel="stylesheet" href="public/css/map-legend.css">

</head>
<body>
	<div class="error alert alert-danger" role="alert"></div>

	<% include ../partials/config-create-form %>

	<% include ../partials/side-bar %><div class="body">
		<div class="top-nav">
			<% if(isRepository){ %>
				<button type="button" class="btn btn-success choose-directory">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					Select Repository
				</button>
			<% } else { %>
			  	<button type="button" class="btn btn-primary create-repository">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					New Repository
				</button>
		  	<% } %>
			<% include ../partials/map-legend %>
		</div>
		<div class="file-explorer">
			<div class="path">
				<span class="glyphicon glyphicon-folder-open" aria-hidden="true" style="color:#A9A7B5;"></span>
				<% if(!upperPath.currentPath.length) { %>
				<span class="separator">/</span>
				<% } %>
				<% for(var i = 0; i < upperPath.currentPath.length; i++) { %>
	        		<span class="separator">/</span>
	        		<span class="directory" data-path="<%= upperPath.subPaths[i] %>"><%= upperPath.currentPath[i] %></span>
	    		<% } %>
			</div>
			<div class="directory-files">
				<table class="table table-striped">
					<tr>
						<th>File Name</th>
						<th>Last Modified</th>
					</tr>
					<% if(upperPath.currentPath.length > 1){ %>
					<tr>
						<td>
							<span class="glyphicon glyphicon-folder-open folder-icon" aria-hidden="true"></span>
							<span class="directory" data-path="<% var dotdot = upperPath.currentPath; dotdot.pop(); %><%= '/' + dotdot.join('/') %>">
								..
							</span>
						</td>
						<td>
						</td>
					</tr>
				<% } %>
				<% for(var i = 0; i < bottomList.directories.length; i++){ %>
					<tr <% if(bottomList.directories[i].directoryName[0] == '.'){ %>style="display:none;"<% } %>>
						<td>
							<span class="glyphicon glyphicon-folder-open folder-icon" aria-hidden="true"></span>
							<span class="directory 
								<% if(bottomList.directories[i].isRepository){ %>is-repository<% } %>
								<% if(bottomList.directories[i].inRepo){ %>in-repo<% } %>
								" data-path="<%= currentPathString + '/' + bottomList.directories[i].directoryName%>">
								<%= bottomList.directories[i].directoryName %>
							</span>
						</td>
						<td>
							[<%= bottomList.directories[i].lastModified.toLocaleDateString(); %>] - 
							[<%= ("0" + bottomList.directories[i].lastModified.getHours()).slice(-2)  %> :
							<%= ("0" + bottomList.directories[i].lastModified.getMinutes()).slice(-2)  %> :
							<%= ("0" + bottomList.directories[i].lastModified.getSeconds()).slice(-2)  %>]
						</td>
					</tr>
				<% } %>
				<% for(var i = 0; i < bottomList.files.length; i++){ %>
					<tr <% if(bottomList.files[i].fileName[0] == '.'){ %>style="display: none;"<% } %>>
						<td>
							<span class="glyphicon glyphicon-file file-icon" aria-hidden="true"></span>
							<span class="file
							<% if(bottomList.files[i].inRepo){ %>
								in-repo
								<% if(bottomList.files[i].inRemote){ %> in-remote <% } %>
							<% } %>
							" data-path="<%= currentPathString + '/' + bottomList.files[i].fileName %>">
								<%= bottomList.files[i].fileName %>
							</span>
						</td>
						<td>
							[<%= bottomList.files[i].lastModified.toLocaleDateString(); %>] - 
							[<%= ("0" + bottomList.files[i].lastModified.getHours()).slice(-2)  %> :
							<%= ("0" + bottomList.files[i].lastModified.getMinutes()).slice(-2)  %> :
							<%= ("0" + bottomList.files[i].lastModified.getSeconds()).slice(-2)  %>]
						</td>
					</tr>
				<% } %>
				</table>
			</div>
		</div>
	</div>
</body>
</html>
