<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
	<link rel="stylesheet" href="public/css/manage.css">
	<script src="/public/js/manage/events.js"></script>
	<script src="/public/js/manage/scripts.js"></script>
	<link rel="stylesheet" href="public/css/map-legend.css">

</head>
<body>
	<div class="error alert alert-danger" role="alert">
		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color: red; margin-right:10px;"></span>
		<span class="error-message"></span>
	</div>

	<div class="success alert alert-success" role="alert"></div>

	<% include ../partials/config-create-form %>

	<% include ../partials/side-bar %><div class="body">
		<div class="top-nav">
				<button type="button" class="btn btn-success members-list-button" data-toggle="collapse" data-target="#members-list-section" aria-expanded="false" aria-controls="members-list-section">
					<span class="glyphicon glyphicon-list" aria-hidden="true"></span>
					Members List
				</button>
			<% include ../partials/map-legend %>
		</div>
		<div class="content">
			<div class="page-header repository-details">
			  	<h1>Repository: <%= config.reponame %> <small>admin: <span style="color: purple;"><%= config.username %></span>, local path: <span style="color: purple;"><%= path %></span></small></h1>
			</div>
			<div class="collapse" id="members-list-section">
			  	<div class="well">
			  		<ul class="list-group members-list"></ul>
			  		<div class="member-actions" style="margin-top: 10px;">
			  			<button type="button" class="btn btn-success add-member">Add</button>
			  			<div class="col-xs-2">
					    	<input type="text" class="form-control add-member-username" placeholder="username">
					  	</div>
			  			<button type="button" class="btn btn-danger remove-member" style="display:none; float:right;">Remove</button>
			  		</div>
			  	</div>
			  	
			</div>
			<div class="well remote">
				<h4>Remote Files List</h4>
				<ul class="list-group remote-files-list">
					<% for(var i = 0; i < remoteFileList.length; i++){%>
						<li class="list-group-item remote-file"><%= remoteFileList[i] %></li>
					<%}%>
				</ul>
			</div>
			<div class="well local">
				<h4>Local Files List</h4>
		  		<ul class="list-group local-files-list">
					<% for(var i = 0; i < localFileList.length; i++){%>
						<li class="list-group-item local-file"><%= localFileList[i] %></li>
					<%}%>
		  		</ul>
		  		<div class="local-files-actions">
		  			<button type="button" class="btn btn-success checkin" style="display:none;">Checkin</button>
		  		</div>
		  		<div style="clear: both;"></div>
			</div>
		</div>
	</div>
</body>
</html>
